extend layout

block style
  link(rel="stylesheet", href="/stylesheets/register.css")

block content
  .container
    form.form-signup(action="/users" method="post")
      h2.form-signup-heading Please fill up the form
      label.sr-only(for="inputName") Name
      input#inputName.form-control(type="text", placeholder="Name", name="name", required="true", autofocus="true")
      label.sr-only(for="inputEmail") Email address
      input#inputEmail.form-control(type="email", placeholder="Email address", name="email", required="true")
      label.sr-only(for="inputPassword") Password
      input#inputPassword.form-control(type="password", placeholder="Password", name="password", required="true")
      label.sr-only(for="inputRepeatPassword") Repeat Password
      input#inputRepeatPassword.form-control(type="password", placeholder="Repeat Password", name="passwordRepeat", required="true")
      button.btn.btn-lg.btn-primary.btn-block(type="submit") Sign up
        
